<div class="carrito">
    <div class="producto">
        <img src="/images/billie.jpg" alt="producto">
        <span class="cantidad">1</span>
        <span class="nombre">Funko Pop Billie Elish</span>
        <div class="botones">
            <span class="mas">+</span>
            <span class="menos">-</span>
        </div>
       <span class="precio">$3,500.00</span>
    </div>
    <div class="total">
        <h4 class=precio-total>TOTAL: $3,500.00</h4>
        <h4 class="comprar">Comprar ahora</h4>
    </div>
</div>
<script src="/javascript/carrito.js"></script>
