<header class="container-fluid">
    <div class="mobile row">
    <i class="fas fa-bars col-2"></i>
    <a href="#" clas="col-1"><img src="/images/mele.png" alt="mele"></a>
    <i class="fas fa-shopping-cart col-2"></i>
</div>
</header>