<link rel="stylesheet" href="/styles/cart.css">
<div class="carrito">
    <div id="cart" class="col-12">
        
    </div>
    <div id="detalles">

    </div>
</div>
<script src="/javascript/carrito.js"></script>
