<header class="container-fluid">
    <div class="mobile row">
        <div class="top">
            <i class="fas fa-bars"></i>
            <a href="/"><img src="/images/mele.png" alt="mele"></a>
            <i class="fas fa-shopping-cart"></i>
        </div>

        <div class="buscador">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="search" placeholder="Buscar productos, marcas y más"
                    class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
        <nav class="col-12 hidden-menu">
            <a href="/user/perfil"><img src=<%- typeof user == "undefined" ?  "/images/perfil.jpg" : "/images/users/"+ user.profile%> alt="Usuario"></a>
            <p class="user-name"><%= typeof user == "undefined" ? "" : user.name %></p>
            <a href="/user"><h4>Acceder</h4></a>
            <ul>
                <a href="/">
                    <li>Inicio</li>
                </a>
                <a href="">
                    <li>Categorías</li>
                </a>
                <a href="">
                    <li>Biblioteca</li>
                </a>
                </a>
                <a href="/productos">
                    <li>Productos</li>
                </a>
                <% if (typeof user != "undefined" && user.admin) { %>
                    <a href="/admin/create">
                        <li>Vender</li>
                    </a>
                <% } %>
                
            </ul>
        </nav>
    <div class="desktop">
        <header class="container-fluid">
            <div class="top">
                <div class="logo">
                    <a href="/"><img src="/images/mele.png" alt="mele"></a>
                </div>
                <div class="buscador-desktop">
                    <form action="/search" method="GET" class="search-form">
                        <input type="text" name="search" placeholder="Buscar productos, marcas y más"
                            class="search-form_input">
                        <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="botones">
                    <i class="fas fa-shopping-cart carrito-desktop"></i>
                    <a href="/user">
                        <h4 class="usuario"><%= typeof user == "undefined" ? "Acceder" : user.name %></h4>
                    </a>
                </div>


            </div>
    </div>

    <nav class="nav-desktop">
        <ul>
            <a class="inicio-li"href="/">
                <li>Inicio</li>
            </a>
            <a class="categorias-li" href="">
                <li>Categorías</li>
            </a>
            <a class="biblioteca-li" href="">
                <li>Biblioteca</li>
            </a>
            </a>
            <a class="productos-li"href="/productos">
                <li>Productos</li>
            </a>
            <% if (typeof user != "undefined" && user.admin) { %>
                <a class="vender-li" href="/admin/create">
                    <li>Vender</li>
                </a>
            <% } %>
            
        </ul>
    </nav>

</header>
</div>
<script src="/javascript/nav-menu.js"></script>

</header>