<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mele | Acceder</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="logo"><a href="/"><img src="/images/mele.png" alt="mele"></a></div>

    <div class="form">
        <div class="titulos">
            <div class="ingresar">
                <h1>INGRESAR</h1>
            </div>
            <div class="registrarse">
                <h1>REGISTRARSE</h1>
            </div>
        </div>
<!-- REGISTRARSE -->
        <form class="signup" action="/user/signup" method="POST" enctype="multipart/form-data"> 
            <div class="nombre-apellido">
                <div class="name">
                    <input type="text" name="name" id="name" placeholder="Nombre">
                </div>
                <div class="last-name">
                    <input type="text" name="last-name" id="last-name" placeholder="Apellido">
                </div>  
            </div>
            <input type="email" name="email" id="email" placeholder="Correo Electrónico">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <input type="password" name="password2" id="password" placeholder="Reingrese su contraseña">
            <label for="archivosubido">Foto de Perfil</label>
            <input type="file" name="profile"> 
            <button type="submit"> Registrarse </button>
            <% if (typeof errores != 'undefined') { %>
                <ul>
                    <% errores.forEach(error => { %>
                        <li> <%= error.msg %> </li>
                    <% }) %>
                </ul>  
            <% } %>
        </form>

        <form class="login" action="/user/login" method="POST">
           <input type="email" name="email" id="email" placeholder="Correo Electrónico">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <input type="checkbox" name="Recordar" id="recordar">
           <label for="recordar"> Recordar </label>
            <button type="submit"> Ingresar </button>
            <% if (typeof errores != 'undefined') { %>
                <ul>
                    <% errores.forEach(error => { %>
                        <li> <%= error.msg %> </li>
                    <% }) %>
                </ul>  
            <% } %>
        </form>
        
    </div>

    <script src="/javascript/login.js"></script>

</body>

</html>