<footer>
    <div class="pre-footer container row">
        <div class="col-12 col-md-4 col-lg-4">
            <i class="fas fa-shield-alt"></i>
            <h3>PAGO SEGURO</h3>
            <p>Comprá tranquilo desde la plataforma segura de Mercado Pago</p>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <i class="fas fa-shipping-fast"></i>
            <h3>ENVÍOS A TODO EL PAÍS</h3>
            <p>Recibí los productos en la puerta de tu casa estés donde estés</p>
        </div>
        <div class="col-12 col-md-4 col-lg-4">

            <h3>MEDIOS DE PAGO</h3>
            <div class="medios-de-pago row">
                <i class="fas fa-money-bill-wave col-4"></i>
                <i class="fas fa-university col-4"></i>
                <img src="/images/mercado-pago.png" alt="mercado pago" class="col-4">
            </div>
        </div>
    </div>
    <div class="footer container row">
        <div class="logo-footer col-4">
            <img src="/images/mele.png" alt="mele">            
        </div>
        <div class="acerca col-4">
           <!--  <h4>QUIENES SOMOS</h4> -->
            <p>Mele es una tienda online de música y productos musicales creada por el Grupo 1 de la Comisión 5 de FORMAR</p>
        </div>
        <div class="contacto col-4">
            <h4>CONTACTO</h4>
            <ul>
                <a href="">
                    <li>FACEBOOK</li>
                </a>
                <a href="">
                    <li>INSTAGRAM</li>
                </a>
                <a href="">
                    <li>TWITTER</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>Mele | Todos los derechos reservados ©2021</p>
    </div>
    
</footer>