<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head")%>
<body>
    <div class="error">
        <img src="/images/mele.png" alt="">
    <h1>Página no encontrada</h1>
    <p>No pudimos encontrar la página especificada</p>
    <a href="/">Volver al inicio</a>
    </div>
    
</body>
</html>