<!DOCTYPE html>
<html lang="en">
<%-include("partials/head")%>

    <body>
        <div class="error">
            <img src="/images/mele.png" alt="">
            <h1>Acceso denegado</h1>
            <p>Necesitas permisos de administrador para acceder a esta página</p>
            <a href="/">Volver al inicio</a>
        </div>

    </body>

</html>