.categories-container{
    margin: auto;
    margin-top: 30px;
}
.productos-categories{
    margin: 0;
    margin-top: 0;
}
.producto img{
    max-height: 150px;
    max-width: 150px;
    border-radius: 20px;
}
.producto .details{
    text-align: left;
}
.table tr{
    border: none;
    color: honeydew;
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid rgba(240, 255, 240, 0.411);
    margin: 0;
}
.table tr td{
    border: none;
}
.details{
    padding: 0
} 
.table tr:hover{
    background-color: rgba(255, 255, 255, 0.685);
    color: #000;
}
.table tr td button{
    background: none;
    color: honeydew;
    border: none;
    padding: 0;
}
.table tr td button i{
    font-size: 30px;
}
.table tr td button i:hover{
    color: #744BFF;
}
.categories-container h5{
    color:honeydew;
}
.categories-container form{
    background-color: #252525;
    border: none;
    color: honeydew;
}
.categories-container form .label-price{
    margin-bottom: 0;
}
.categories-container form .min, .categories-container form .max{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.categories-container form .min label, .categories-container form .max label{
    margin: 0;
}
.categories-container form .min input, .categories-container form .max input{
    margin: 5px auto;
}
.categories-container form button{
    text-align: center;
    margin: 30px auto;
}
.categories-container form label{
    margin-top: 30px;
}
